:host {
  display: block;
}

.container{
  width: 960px;
  padding: 2% 0 0;
  padding-top: 0;
  margin: auto;

}

.holder{
  width: 100%;
  padding: 15px;
}

.content{
  padding: 25px;
}

.menu{
  width: auto;
}

.menuLink{
  text-decoration: none;
  margin-left: 30px;
  margin-top: 20px;
  color: black;
  display: block;
}

a.iron-selected{
  color: #2196F3;
}

iron-icon{
  width: 24px;
}

.title{
  position: absolute;
  right: 10px;
  padding: 10px;
}
